body {
  background-color: #1a1a1a;
}

#title {
  font-family: serif;
  font-size: 48px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/*




INPUT





*/

#input {
  transition: 0.8s;

  font-family: serif;
  width: 60%;
  font-size: 24px;
  padding: 6px;
  text-align: center;
  border: 3px solid #CCC;

  background-color: #CCC;
}

#input:focus {
  transition: 0.8s;

  border: 3px solid black;
  outline: none;
}

/*




METHOD SELECT





*/

#method-select {
  all: unset;

  transition: 0.8s;
  background-color: #CCC;
  font-family: serif;
  width: 5%;
  font-size: 24px;
  padding: 6px;
  text-align: center;
  border: 3px solid #CCC;
}

#method-select option {              /* options in METHOD SELECT */
  align-items: center;
}

#method-select:focus {
  transition: 0.8s;

  border: 3px solid black;
  outline: none;
}

/*




BODY REQUEST





*/

#request-container {
  margin: 40px;
  width: 65%;
  height: 600px;
  border: 3px solid white;
}

/*




FUCKING BUTTON





*/


#execute {
  transition: 0.8s;
  padding: 12px;
  font-size: 16px;
  background-color: #CCC;
  border: 3px solid #CCC;
}

#execute:hover {
  transition: 0.8s;
  outline: none;
  border: 3px solid black;
}
